# Imports

In [26]:
import pickle
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [27]:
df=pd.read_csv('all_waybill_info_meituan_0322.csv')

In [28]:
df.head()

,Unnamed: 0,dt,order_id,waybill_id,courier_id,da_id,is_courier_grabbed,is_weekend,estimate_arrived_time,is_prebook,...,recipient_lat,grab_lng,grab_lat,dispatch_time,grab_time,fetch_time,arrive_time,estimate_meal_prepare_time,order_push_time,platform_order_time
0,0,20221017,0,0,0,0,0,1,1665937978,0,...,45852786,0,0,1665936258,0,0,0,1665936779,1665936000,1665935996
1,1,20221017,1,1,1,1,1,1,1665937864,0,...,45898250,174530062,45906005,1665936734,1665936737,1665937344,1665937798,1665936845,1665936006,1665935995
2,2,20221017,2,2,2,2,1,0,1665939504,0,...,45891243,174548244,45870923,1665937484,1665937501,1665938346,1665939384,1665938007,1665937107,1665937097
3,3,20221017,3,3,3,0,1,0,1665939432,0,...,45886787,174560199,45867948,1665937394,1665937397,1665937830,1665939822,1665937634,1665937369,1665937028
4,4,20221017,4,4,4,0,1,0,1665938894,0,...,45867411,174554896,45865167,1665937394,1665937413,1665937710,1665938262,1665937694,1665937373,1665937092

In [30]:
df=df[df['is_courier_grabbed']==1]

In [31]:
df.head()

,Unnamed: 0,dt,order_id,waybill_id,courier_id,da_id,is_courier_grabbed,is_weekend,estimate_arrived_time,is_prebook,...,recipient_lat,grab_lng,grab_lat,dispatch_time,grab_time,fetch_time,arrive_time,estimate_meal_prepare_time,order_push_time,platform_order_time
1,1,20221017,1,1,1,1,1,1,1665937864,0,...,45898250,174530062,45906005,1665936734,1665936737,1665937344,1665937798,1665936845,1665936006,1665935995
2,2,20221017,2,2,2,2,1,0,1665939504,0,...,45891243,174548244,45870923,1665937484,1665937501,1665938346,1665939384,1665938007,1665937107,1665937097
3,3,20221017,3,3,3,0,1,0,1665939432,0,...,45886787,174560199,45867948,1665937394,1665937397,1665937830,1665939822,1665937634,1665937369,1665937028
4,4,20221017,4,4,4,0,1,0,1665938894,0,...,45867411,174554896,45865167,1665937394,1665937413,1665937710,1665938262,1665937694,1665937373,1665937092
5,5,20221017,5,5,5,3,1,0,1665940500,0,...,45921310,174526338,45912309,1665938727,1665938741,1665940061,1665940496,1665939225,1665938403,1665938399

In [35]:
df['sender_lat']

1         45905850
2         45861460
3         45868015
4         45868015
5         45920329
            ...
654337    45879427
654339    45868634
654340    45879398
654341    45889549
654342    45887997
Name: sender_lat, Length: 568546, dtype: int64

In [36]:
df['sender_lng']

1         174529930
2         174532407
3         174559718
4         174559718
5         174542688
            ...
654337    174650494
654339    174575022
654340    174650478
654341    174535543
654342    174533308
Name: sender_lng, Length: 568546, dtype: int64

In [42]:
df['grab_lat']

1         45906005
2         45870923
3         45867948
4         45865167
5         45912309
            ...
654337    45879505
654339    45873238
654340    45872077
654341    45895683
654342    45894631
Name: grab_lat, Length: 568546, dtype: int64

In [43]:
df['grab_lng']

1         174530062
2         174548244
3         174560199
4         174554896
5         174526338
            ...
654337    174648556
654339    174576809
654340    174624149
654341    174537979
654342    174534142
Name: grab_lng, Length: 568546, dtype: int64

In [32]:
df['delay']=df['fetch_time']-df['grab_time']

/tmp/ipykernel_4820/1920812435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['delay']=df['fetch_time']-df['grab_time']

In [34]:
df['delay']

1          607
2          845
3          433
4          297
5         1320
          ...
654337     469
654339     824
654340     966
654341     696
654342     323
Name: delay, Length: 568546, dtype: int64

In [37]:
G = nx.Graph()

# Add edges from the dataframe
for _, row in df.iterrows():
    node1 = (row["sender_lng"], row["sender_lat"])  # First point (lng, lat)
    node2 = (row["grab_lng"], row["grab_lat"])  # Second point (lng, lat)
    time = row["delay"]                 # Time as edge weight
    G.add_edge(node1, node2, weight=time)

In [39]:
output_file = "undirected_graph.pkl"
with open(output_file, "wb") as f:
    pickle.dump(G, f)
print(f"Graph saved to {output_file}")

Graph saved to undirected_graph.pkl

In [40]:
with open(output_file, "rb") as f:
    G_loaded = pickle.load(f)

In [2]:
import matplotlib.pyplot as plt

In [53]:
start_node=(174530062,45906005)
end_node=(174529930,45905850)

In [54]:
# Find the shortest path
try:
    shortest_path = nx.shortest_path(G_loaded, source=start_node, target=end_node)
    print(f"The shortest path from {start_node} to {end_node} is: {shortest_path}")

    # Get the values of the edges in the shortest path
    edge_values = []
    for i in range(len(shortest_path) - 1):
        u, v = shortest_path[i], shortest_path[i + 1]
        edge_data = G_loaded[u][v]  # Access edge attributes
        edge_values.append(edge_data)  # Store the attributes

    print("Edge values along the shortest path:")
    for i, edge in enumerate(edge_values):
        print(f"Edge {shortest_path[i]} -> {shortest_path[i + 1]}: {edge['weight']}")

except nx.NetworkXNoPath:
    print(f"No path exists between {start_node} and {end_node}.")
except nx.NodeNotFound as e:
    print(f"Error: {e}")

The shortest path from (174530062, 45906005) to (174529930, 45905850) is: [(174530062, 45906005), (174529930, 45905850)]
Edge values along the shortest path:
Edge (174530062, 45906005) -> (174529930, 45905850): 607

In [49]:
def find_time(start_node,end_node):
    
    # Find the shortest path
    try:
        shortest_path = nx.shortest_path(G, source=start_node, target=end_node)
        #print(f"The shortest path from {start_node} to {end_node} is: {shortest_path}")

        # Get the values of the edges in the shortest path
        edge_values = []
        for i in range(len(shortest_path) - 1):
            u, v = shortest_path[i], shortest_path[i + 1]
            edge_data = G[u][v]  # Access edge attributes
            edge_values.append(edge_data)  # Store the attributes
        total_time=0
        #print("Edge values along the shortest path:")
        for i, edge in enumerate(edge_values):
            total_time += edge['weight']
            #print(f"Edge {shortest_path[i]} -> {shortest_path[i + 1]}: {edge['weight']}")

    except nx.NetworkXNoPath:
        print(f"No path exists between {start_node} and {end_node}.")
        total_time=0
    except nx.NodeNotFound as e:
        print(f"Error: {e}")
        total_time=0
    return total_time

In [50]:
total_time=find_time((174529517, 45906094) ,(174578340, 45877890))

In [51]:
total_time

6606